body {
  background-color: #d3d3d3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.button-logout {
  background-color: #E61616;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 10px;
}
.button-logout:hover {
  background-color: #FF0000;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-field {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  background-color: #E61616;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #FF0000;
}

.directory-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}

.details-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px 20px 20px 20px;
  margin-top: 10px;
}

.details-container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.details-container h3 {
  margin: 0;
  width: 30%; /* Adjust the width as needed */
  text-align: left;
}



h2 {
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.load-more-button {
  background-color: #E61616;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.load-more-button:hover {
  background-color: #FF0000;
  /* Slightly darker shade on hover */
}

.load-prediction {
  background-color: #E61616;
  color: white;
  border: none;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
}

.load-prediction:hover {
  background-color: #FF0000;
  /* Slightly darker shade on hover */
}